[submodule "Paizo/vendor/spdlog"]
	path = Paizo/vendor/spdlog
	url = https://github.com/gabime/spdlog

[submodule "Paizo/vendor/GLFW"]
	path = Paizo/vendor/GLFW
	url = https://github.com/TheCherno/glfw


[submodule "Paizo/vendor/imgui"]
	path = Paizo/vendor/imgui
	url = https://github.com/TheCherno/imgui