[submodule "Electro/vendor/spdlog"]
	path = Engine/vendor/spdlog
	url = https://github.com/gabime/spdlog

[submodule "Electro/vendor/GLFW"]
	path = Engine/vendor/GLFW
	url = https://github.com/TheCherno/glfw